main{
    display: flex;
    flex-direction:row;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30%;
    border-bottom: 1px solid midnightblue;
}

.container{
    max-width: 800px;
    margin: auto;
}

h1{
    display: inline-block;
    padding: 7px;
}

nav{
    display: inline-block;
    text-align: ;
}

body{
    margin: 0;
    min-height: 100vh;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png");
    display: flex;
    flex-direction: column;
}

section{
    background-color: rgb(247, 247, 247);
    width: 630px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

aside{
    background-color:rgb(247, 247, 247);
    width: 170px;
    height: 130px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 3px;
    padding-left: 20px; padding-right: 20px; padding-bottom: 20px;
}

header, footer{
    background-color: rgb(247, 247, 247);
}

main{
    max-width: 800px;
    margin: auto;
}

main img{
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.container, .link, footer, aside, h2{
    color: midnightblue;
}

h2, footer, .container, aside{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.link{
    margin: 4px;
}

footer{
    text-align: center;
    margin-top: auto;
    padding: 24px;
}